body {
	margin: .5em;
	padding: 0;
	height: 100%;
	background-color: #ffffff;
	background-image: url('img/body-background.jpg');
	background-position: top;
	background-repeat: repeat-x;
	color: #000000;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .9em;
}

a {
	color: #547699;
	text-decoration: none;
}

a:hover {
	color: #999999;
	text-decoration: underline;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 0 .5em 0 .2em;
	padding: .2em;
	border: 1px solid #eeeeee;
}

img.right {
	float: right;
	margin: 0 .2em 0 .5em;
	padding: .2em;
	border: 1px solid #eeeeee;
}

hr {
	border: 0px;
	border-top: solid 1px #eeeeee;
}

table {
	width: 100%;
}

#header {
	margin: 0;
	padding:0;
	height: 6.7em;
	background-color: #ffffff;
	background-image: url('img/header-background.jpg');
	background-position: bottom right;
	background-repeat: no-repeat;
	border: 1px solid #EBCD48;
}

#header h1 {
	margin: 0 0 -.6em 0;
	padding: 1em 0 0 1em;
	font-size: 1.5em;
	letter-spacing: .1em;
	color: #ffffff;
}

#header h2 {
	margin: 0;
	padding: 1em 0 0 1.75em;
	font-size: .9em;
	font-weight: 300;
	letter-spacing: .1em;
	color: #000000;
}

#navtabs {
	margin: 0;
	float: left;
	width: 100%;
	height: 2.2em;
	font-size: 0.95em;
	line-height: normal;
}

#navtabs ul {
	margin: 0;
	padding: .6em 0 0 .2em;
	list-style: none;
}

#navtabs li {
	display: inline;
	margin: 0;
	padding: 0;
}

#navtabs a {
	float: left;
	background-image: url('img/tableft.gif');
	background-position: left top;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0 0 0 4px;
	text-decoration: none;
}

#navtabs a span {
	float: left;
	display: block;
	background-image: url('img/tabright.gif');
	background-position: right top;
	background-repeat: no-repeat;
	padding: 5px 15px 4px 6px;
	color: #9E8100;
}

#navtabs a span {
	float: none;
}

#navtabs a:hover span {
	color: #000;
}

#navtabs a:hover {
	background-position: 0% -42px;
}

#navtabs a:hover span {
	background-position: 100% -42px;
	color: #000000;
}

#footer {
	position: relative;
	bottom: 0;
	margin: 3em 0 0 0;
	padding: 0;
	height: 4em;
	line-height: 4em;
	text-align: center;
	font-size: .7em;
	background-color: #ffffff;
	border-top: 1px solid #eeeeee;
}

#centerColumn {
	margin: 0 auto;
	padding: 1em;
	width: 38em;
	text-align: justify;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #BBD1E2;
}

h1 {
	margin: 0.2em 0 0.5em 0;
	padding: .75em 0 0 0;
	font-size: 1.2em;
	letter-spacing: .1em;
	color: #DA8619;
}

h2 {
	margin: 0 0 0.5em 0;
	padding: 0.5em 0 0 0;
	font-size: 1.0em;
	letter-spacing: .1em;
	color: #DA8619;
}

h3 {
	margin: 0 0 1em 0;
	padding: .75em 0 0 0;
	font-size: 0.9em;
	letter-spacing: .1em;
	color: #000000;
}

td {
	vertical-align: top;
}

th {
	border-bottom: 1px solid black;
	font-weight: normal;
}

a .fa {
	color: #333;
}

.toplined {
	margin-top: 1em;
	padding-top: .5em;
	border-top: 1px solid #eeeeee;
}

#centerColumn .alien {
	margin-left: 1px;
	margin-right: 1px;
	padding-left: 1px;
	padding-right: 1px;
	border: red 1px dashed;
}

#centerColumn .tagcloud {
	padding: 2px;
	line-height: 1.4em;
}

#centerColumn fieldset {
	padding: 3px;
}

#centerColumn .tagcloud .weight1 a{
	color: #CCCCCC;
}

#centerColumn .tagcloud .weight2 a{
	color: #BBBBBB;
}

#centerColumn .tagcloud .weight3 a{
	color: #AAAAAA;
}

#centerColumn .tagcloud .weight4 a{
	color: #888888;
}

#centerColumn .tagcloud .weight5 a{
	color: #666666;
}

#centerColumn .tagcloud .weight6 a{
	color: #444444;
}

#centerColumn .tagcloud .weight7 a{
	color: #333333;
}

#centerColumn .tagcloud .weight8 a{
	color: #222222;
}

#centerColumn .tagcloud .weight9 a{
	color: #111111;
}

#centerColumn .tagcloud .weight10 a{
	color: #000000;
}

#centerColumn .authors {
	font-size: small;
}

#centerColumn .authors a {
	color: #999999;
}

#centerColumn .tags {
	font-size: x-small;
}

#centerColumn .tags a {
	color: #999999;
}

#centerColumn .problem {
	border: 1px solid red;
}

#centerColumn span.tagMatches {
    margin-left: 0px;
    margin-top: 10px;
	margin-bottom: 10px;
    display: block;
}

#centerColumn span.tagMatches span {
    padding: 2px;
    margin-right: 4px;
    background-color: #0000AB;
    color: #fff;
    cursor: pointer;
}

#centerColumn #login_container {
	border: solid 1px #c6cfe1;
	padding: 10px;
	margin: 2em auto;
	background-color: #FAFAFA;
	text-align: left;
	width: 250px;
}

#centerColumn #login_container input{
	border: 1px solid #222222;
	color: #111111;
	font-size: 10pt;
}

#centerColumn #login_container .problem {
	border: 1px solid red;
}

#centerColumn #login_container fieldset{
	padding: 10px;
}

#centerColumn #login_container label{
	display: block;
	margin-bottom: 10px;
	color: #222222;
	width: 200px;
}

#centerColumn .errorBox {
	border: 1px solid red;
	background-color: #F6CECE;
	padding: 1px;
}

#centerColumn .notificationBox {
	border: 1px solid #AAAAAA;
	padding: 1px;
}

#centerColumn .exportBox {
	float: right;
	text-align: right
}